!!!
%html
  %head
    %title Sonia - Awesome Office Dashboard
    %meta(charset="utf-8")
    %link(rel="apple-touch-icon" href="/images/sonia_apple_touch.png")
  %body
    %h1 project sonia
    #widgets
    %style(type="text/css")= joined_system_css
    %style(type="text/css")= joined_widget_css
    %script(type="text/javascript")= joined_system_javascript
    %script(type="text/javascript")= joined_widget_javascript
    %script(type="text/javascript")= init_javascript