!!!
%html
  %head
    %title Sonia - Awesome Office Dashboard
    %meta(charset="utf-8")
    %link(rel="icon" href="favicon.ico" type="image/x-icon")
    %link(rel="apple-touch-icon" href="/images/sonia_apple_touch.png")
  %body
    %h1 project sonia
    #widgets
    %style(type="text/css")= joined_system_css
    %style(type="text/css")= joined_widget_css
    %script(type="text/javascript")= joined_system_javascript
    %script(type="text/javascript")= joined_widget_javascript
    :javascript
      WebSocket.__swfLocation = "WebSocketMain.swf";

      $(document).observe("dom:loaded", function() {
        if ("WebSocket" in window) {
          console.log("WebSocket supported.");
          window.sonia = new Sonia("#{websocket_url}");

          Event.observe(window, 'beforeunload', function() {
            window.sonia.saveChanges();
          });
        } else {
            console.log("WebSocket not supported.");
          }
      });
